#mainArea{
    width: 1200px;
    height: 600px;
    border: 5px double black;
    background: linear-gradient(rgb(89, 162, 207), rgb(26, 99, 145));
}
nav{
    background-color:#2471A3;
    width: 100%;
    height: 100px;
    border-bottom: 5px double black;
}
nav div{
    border: 2px solid gray;
    float: left;
    width: 170px;
    height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    margin: 8px;
    margin-left:15px;
    margin-right: 10px;
    background-color: #AEB6BF;
    color: #2C3E50;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transform: skewX(8deg);
}
nav div:hover{
    background: linear-gradient(135deg, rgb(156, 166, 177) 70%, rgb(64, 81, 97));
}
nav div:active{
    background: linear-gradient(315deg, rgb(156, 166, 177)30%, rgb(64, 81, 97)) 
}
#quizSection{
    height: 450px;
    width: 1150px;
    border: 3px solid gray;
    position: relative;
    top: 10px;
    left: 20px;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: center;

}
.yesOrNo{
    width: 300px;
    height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 0 10%;
    text-transform: none;

}
.modal{
    position: fixed;
    width: 1100px;
    height: 500px;
    background-color: rgba(177, 177, 177, 0.925);
    top: 50px;
    left: 50px;
    border: double 4px rgb(29, 27, 27)
}
h4{
    font-size: 50px;
    text-align: center;
}
#moreInfo{
    font-size: 35px;
    text-align: center;
    
}
#next{
    width: 350px;
    height: 60px;
    font-size: 40px;
    position: absolute;
    top: 80%;
    left: 30%
}