body{
    color: #2F7E92;
}
@media (max-width: 992px){
    #secondDiv {
        margin-top: 58px;
    }
    .navbar div{
        line-height: 58px;
        font-size: 32px;
    }
}
@media (min-width: 992px){
    #eightCols {
        margin-top: 3em;
    }
}
#adPlace{
    height: 90px;
    background-color: gray;
    display: none;
}
.navbar{
    margin-top: 1em;
    color:#2F7E92;
    font-family: comfortaa;
    font-size: 20px;
    text-align: center;
}
#logo{
    background-image: url(../packages/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10em;
    margin-top: 1em;
}
.navbar div{
    height: 58px;
    border: 1px solid black;
}
.secondDiv{
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#video{
    height: 250px;
    background-color: gray;
}
#goalsList, #tutorial{
    height: 250px;
}
#icons{
    margin-top: 5em;

}